* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;

}

.navbar {
    width: 100vw;
    height: 4rem;
    background-color: rgb(206, 166, 166);
    position: static;
    display: flex;
    gap: 3rem;
    align-items: center;
    padding-left: 3rem;
    flex-direction: row;

}


.int {
    width: 20%;
    height: 2rem;
    margin-left: 35rem;
    background-color: antiquewhite;
    border-radius: 1rem;
    text-align: center;
    font-size: 1rem;
}



.rtl {
    text-align: right;
}






.btn {
    width: 103vw;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: rgb(110, 184, 110);
    align-items: center;
}


.title h2 {
    padding-right: 5rem;
}


.title p{
    padding-right: 1rem;
}





.btn div {
    color: white;
    font-size: 1rem;
}